body {
	background-color: #888888;
}

form {
	color: #00EE88;
	font-family: 'Open Sans', serif;
	font-size: 30px;
}

input {
	background-color: #BBBBBB;
	size: 155px;
}

textarea {
	background-color: #BBBBBB;
}